.not-found{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 100px;
}

.redirect-to-home-page{
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 20px;
    margin-top: 40px;
}